# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

user.json
database_config.py

/src/store/config.js

#memoize cahe
/data_cache

#data tasks
/tasks/atlas/build
tasks/**/*.ndjson
tasks/**/*.csv
tasks/**/*.json
tasks/**/*.geojson
tasks/**/database_config.py
tasks/lodes_data/database_config.py
tasks/risk_zone_loss_calculations/dfirm/database_config.py
tasks/risk_zone_loss_calculations/riverine/database_config.py
tasks/risk_zone_loss_calculations/conversions_postgresql_shp_geojson/database_config.py
config/postgres.env
tasks/risk_zone_loss_calculations/conversions_postgresql_shp_geojson/dfirm_NY_data
tasks/risk_zone_loss_calculations/conversions_postgresql_shp_geojson/mbtiles
